{{#gh-tabs-manager selected="showSubview" id="entry-controls" class="settings-menu-container"}}
<div id="entry-controls">
    <div class="{{if isViewingSubview 'settings-menu-pane-out-left' 'settings-menu-pane-in'}} settings-menu settings-menu-pane">
        <div class="settings-menu-header">
            <h4>博文设置</h4>
            <button class="close icon-x settings-menu-header-action" {{action "closeMenus"}}><span class="hidden">关闭</span></button>
        </div>
        <div class="settings-menu-content">
            {{gh-uploader uploaded="setCoverImage" canceled="clearCoverImage" description="为博文设置图片" image=model.image uploaderReference=uploaderReference tagName="section"}}
            <form>
            <div class="form-group">
                <label for="url">博文地址</label>
                {{#if model.isPublished}}
                <a class="post-view-link" target="_blank" href="{{model.absoluteUrl}}">
                    查看博文 <i class="icon-external"></i>
                </a>
                {{else}}
                <a class="post-view-link" target="_blank" href="{{model.previewUrl}}">
                    预览 <i class="icon-external"></i>
                </a>
                {{/if}}

                <span class="input-icon icon-link">
                    {{gh-input class="post-setting-slug" id="url" value=slugValue name="post-setting-slug" focus-out="updateSlug" selectOnClick="true" stopEnterKeyDownPropagation="true"}}
                </span>
                {{gh-url-preview slug=slugValue tagName="p" classNames="description"}}
            </div>

            {{#gh-form-group errors=model.errors property="post-setting-date"}}
                <label for="post-setting-date">发布日期</label>
                <span class="input-icon icon-calendar">
                    {{gh-input class="post-setting-date" id="post-setting-date" value=publishedAtValue name="post-setting-date" focus-out="setPublishedAt" stopEnterKeyDownPropagation="true"}}
                </span>
                {{gh-error-message errors=model.errors property="post-setting-date"}}
            {{/gh-form-group}}

            <div class="form-group">
                <label for="tag-input">标签</label>
                {{gh-selectize
                    id="tag-input"
                    multiple=true
                    selection=model.tags
                    content=availableTags
                    optionValuePath="content.uuid"
                    optionLabelPath="content.name"
                    openOnFocus=false
                    create-item="addTag"
                    remove-item="removeTag"
                    plugins="remove_button, drag_drop"}}
            </div>

            {{#unless session.user.isAuthor}}
            <div class="form-group for-select">
                <label for="author-list">作者</label>
                <span class="input-icon icon-user">
                    <span class="gh-select" tabindex="0">
                    {{gh-select-native
                        name="post-setting-author"
                        id="author-list"
                        content=authors
                        optionValuePath="id"
                        optionLabelPath="name"
                        selection=selectedAuthor
                        action="changeAuthor"
                    }}
                    </span>
                </span>
            </div>
            {{/unless}}

            <ul class="nav-list nav-list-block">
                {{#gh-tab tagName="li" classNames="nav-list-item"}}
                    <button type="button">
                        <b>搜索引擎优化</b>
                        <span>优化在搜索引擎中的呈现效果，提高访问量。</span>
                    </button>
                    <i class="icon-arrow-right"></i>
                {{/gh-tab}}
            </ul>

            <div class="form-group for-checkbox">
                <label class="checkbox" for="static-page" {{action "togglePage" bubbles="false"}}>
                    {{input type="checkbox" name="static-page" id="static-page" class="gh-input post-setting-static-page" checked=model.page}}
                    <span class="input-toggle-component"></span>
                    <p>设置为独立页面（不出现在博文列表中）</p>
                </label>

                <label class="checkbox" for="featured" {{action "toggleFeatured" bubbles="false"}}>
                    {{input type="checkbox" name="featured" id="featured" class="gh-input post-setting-featured" checked=model.featured}}
                    <span class="input-toggle-component"></span>
                    <p>推荐此博文（可以设置特殊的展示效果）</p>
                </label>
            </div>

            </form>
        </div>{{! .settings-menu-content }}
    </div>{{! .post-settings-menu }}

    <div class="{{if isViewingSubview 'settings-menu-pane-in' 'settings-menu-pane-out-right'}} settings-menu settings-menu-pane">
    {{#gh-tab-pane}}
        {{#if isViewingSubview}}
        <div class="settings-menu-header subview">
            <button {{action "closeSubview"}} class="back icon-arrow-left settings-menu-header-action"><span class="hidden">返回</span></button>
            <h4>搜索引擎优化</h4>
            <div style="width:23px;">{{!flexbox space-between}}</div>
        </div>

        <div class="settings-menu-content">
            <form {{action "discardEnter" on="submit"}}>
            {{#gh-form-group errors=model.errors property="meta_title"}}
                <label for="meta-title">优化标题</label>
                {{gh-input class="post-setting-meta-title" id="meta-title" value=metaTitleScratch name="post-setting-meta-title" focus-out="setMetaTitle" stopEnterKeyDownPropagation="true"}}
                <p>建议：<b>70</b> 个字符以内。已输入的字符数是 {{gh-count-down-characters metaTitleScratch 70}}</p>
                {{gh-error-message errors=model.errors property="meta_title"}}
            {{/gh-form-group}}

            {{#gh-form-group errors=model.errors property="meta_description"}}
                <label for="meta-description">优化摘要</label>
                {{gh-textarea class="gh-input post-setting-meta-description" id="meta-description" value=metaDescriptionScratch name="post-setting-meta-description" focus-out="setMetaDescription" stopEnterKeyDownPropagation="true"}}
                <p>建议：<b>156</b> 个字符以内。已输入的字符数是 {{gh-count-down-characters metaDescriptionScratch 156}}</p>
                {{gh-error-message errors=model.errors property="meta_description"}}
            {{/gh-form-group}}

            <div class="form-group">
                <label>搜索引擎呈现效果预览</label>
                <div class="seo-preview">
                    <div class="seo-preview-title">{{seoTitle}}</div>
                    <div class="seo-preview-link">{{seoURL}}</div>
                    <div class="seo-preview-description">{{seoDescription}}</div>
                </div>
            </div>
            </form>
        </div>{{! .settings-menu-content }}
        {{/if}}
    {{/gh-tab-pane}}
    </div>
</div>
{{/gh-tabs-manager}}
