<header class="settings-view-header">
    <h2 class="page-title">关于我们</h2>
    <div class="js-settings-header-inner settings-header-inner">
        {{#link-to 'settings' class='btn btn-default btn-back'}}返回{{/link-to}}
    </div>
</header>

<section class="content settings-about">
    <section class="about-ghost-intro">
        <h1>
            <span class="ghost_logo">
                <span class="hidden">Ghost</span>
            </span>
            <span class="version blue">v{{version}}</span>
        </h1>
        <p>一个简单、纯粹的内容写作和发布平台。</p>

        <div class="about-environment-help clearfix">
            <div class="about-environment">
                <dl>
                    <dt>当前版本:</dt>
                    <dd class="about-environment-detail">{{version}}</dd>
                    <dt>运行环境:</dt>
                    <dd class="about-environment-detail">{{environment}}</dd>
                    <dt>数据库:</dt>
                    <dd class="about-environment-detail about-environment-database">{{database}}</dd>
                    <dt>邮件服务:</dt>
                    <dd class="about-environment-detail">{{#if mail}}{{mail}}{{else}}Native{{/if}}</dd>
                    <dt>文件存储:</dt>
                    <dd class="about-environment-detail">{{storage}}</dd>
                </dl>
            </div>
            <div class="about-help">
                <a href="http://www.ghostchina.com" class="btn"  target="_blank">中文文档</a>
                <a href="http://wenda.ghostchina.com/" class="btn"  target="_blank">问答社区</a>
            </div>
        </div>
    </section>

    <section class="about-credits">
        <h1>主创团队</h1>

        <ul class="top-contributors clearfix">
            {{partial "contributors"}}
        </ul>

        <p class="about-contributors-info">Ghost的开发者来自全球各地，这里列出的只是当前版本的主要开发者。</p>

        <a href="https://ghost.org/about/contribute/" class="about-get-involved btn-blue btn-lg btn">你的帮助让我们做得更好</a>

        <h1 style="margin-top: 45px;">Ghost中文化团队</h1>

        <p><a href="http://www.ghostchina.com" target="_blank" title="Ghost中文网"><img height="70" src="/ghost/img/ghostchina-logo.png" alt="logo"></a></p>

        <p>Ghost 博客系统中文版由 <a href="http://www.ghostchina.com"  target="_blank">Ghost中文网</a> 提供技术支持。<br>
        中文官网：<a href="http://www.ghostchina.com"  target="_blank">www.ghostchina.com</a><br>
        问答社区：<a href="http://wenda.ghostchina.com"  target="_blank">wenda.ghostchina.com</a>
        </p>

        <p class="about-copyright">
            Copyright 2013 - 2014 Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE">MIT license</a>.
            <br>
            <a href="https://ghost.org/">Ghost</a> is a trademark of the <a href="https://ghost.org/about/">Ghost Foundation</a>.
        </p>
    </section>
</section>
