<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">实验室</h2>
</header>


<section class="content settings-debug">
    <form id="settings-export">
        <fieldset>
            <div class="form-group">
                <label>导出数据</label>
                <button type="button" class="btn btn-blue" {{action "exportData"}}>导出</button>
                <p>导出博客设置和数据。</p>
            </div>
        </fieldset>
    </form>
    {{#gh-form id="settings-import" enctype="multipart/form-data"}}
        <fieldset>
            <div class="form-group">
                <label>导入数据</label>
                {{partial "import-errors"}}
                {{gh-file-upload id="importfile" uploadButtonText=uploadButtonText}}
                <p>导入以前备份的博客数据。如果导入的数据中包含用户信息，用户信息将被覆盖，可能导致无法登陆。</p>
            </div>
        </fieldset>
    {{/gh-form}}
    <form id="settings-resetdb">
        <fieldset>
            <div class="form-group">
                <label>删除所有博客内容</label>
                <button type="button" class="btn btn-red js-delete" {{action "openModal" "deleteAll"}}>删除</button>
                <p>从数据库中删除所有博文和标签数据。</p>
            </div>
        </fieldset>
    </form>
    <form id="settings-testmail">
        <fieldset>
            <div class="form-group">
                <label>发送测试邮件</label>
                <button type="button" id="sendtestmail" class="btn btn-blue" {{action "sendTestEmail"}}>发送</button>
                <p>向你的邮箱地址发送测试邮件。</p>
            </div>
        </fieldset>
    </form>

    <hr>

</section>
