<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>实验功能</span>{{/gh-view-title}}
    </header>

    <section class="view-content settings-debug">
        <p><strong>重要提示：</strong> “实验功能”是新功能的试验田，放在这里的功能都还未达到稳定的状态。这些功能随时会被改变、不保证兼容，甚至消失。</p>
        <form id="settings-export">
            <fieldset>
                <div class="form-group">
                    <label>导出</label>
                    <button type="button" class="btn btn-blue" {{action "exportData"}}>导出</button>
                    <p>导出博客设置和数据。</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-import" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group">
                    <label>导入</label>
                    {{partial "import-errors"}}
                    {{gh-file-upload id="importfile" classNames="flex" uploadButtonText=uploadButtonText onUpload="onUpload"}}
                    <p>导入以前备份的博客数据。如果导入的数据中包含用户信息，用户信息将被覆盖，可能导致无法登陆。</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-resetdb">
            <fieldset>
                <div class="form-group">
                    <label>删除所有内容</label>
                    <button type="button" class="btn btn-red js-delete" {{action "openModal" "deleteAll"}}>删除</button>
                    <p>从数据库中删除所有博文和标签数据。</p>
                </div>
            </fieldset>
        </form>
        <form id="settings-testmail">
            <fieldset>
                <div class="form-group">
                    <label>发送测试邮件</label>
                    {{#gh-spin-button id="sendtestemail" class="btn btn-blue" action="sendTestEmail" submitting=submitting}}发送{{/gh-spin-button}}
                    <p>向你的邮箱地址发送测试邮件。</p>
                </div>
            </fieldset>
        </form>
        <hr>
        <form>
            <fieldset>
                <div class="form-group for-checkbox">
                    <h3>Enable Beta Features</h3>
                    <label class="checkbox" for="labs-publicAPI">
                        {{input id="labs-publicAPI" name="labs[publicAPI]" type="checkbox" checked=usePublicAPI}}
                        <span class="input-toggle-component"></span>
                        <p>Public API - For full instructions, read the <a href="http://support.ghost.org/public-api-beta/">developer guide</a>.</p>
                    </label>
                </div>
            </fieldset>
        </form>
    </section>
</section>
