<section class="setup-box js-setup-box fade-in">
    <div class="vertical">
        <form id="setup" class="setup-form" method="post" novalidate="novalidate">

            {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
            <input style="display:none;" type="text" name="fakeusernameremembered"/>
            <input style="display:none;" type="password" name="fakepasswordremembered"/>

            <header>
                <h1>欢迎使用 Ghost 博客系统</h1>
                <h2>请为你的博客设置一些参数吧。</h2>
            </header>
            <div class="form-group">
                <label for="blog-title">博客名称</label>
                {{input type="text" name="blog-title" autofocus="autofocus" autocorrect="off" value=blogTitle }}
                <p>为你的博客取一个响亮的名字</p>
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                {{input type="text" name="name" autofocus="autofocus" autocorrect="off" value=name }}
                <p>你所创作的博文都将署此姓名</p>
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                {{input type="email" name="email" autofocus="autofocus" autocorrect="off" value=email }}
                <p>用于接收重要通知</p>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                {{input type="password" name="password" autofocus="autofocus" autocorrect="off" value=password }}
                <p>至少8个字符</p>
            </div>
            <footer>
                <button type="submit" class="btn btn-green btn-lg" {{action "setup"}} {{bind-attr disabled=submitting}}>Ok，进入博客吧！</button>
            </footer>
        </form>
    </div>
</section>
