{{#gh-dropdown-button tagName="header" class="gh-nav-menu" dropdownName="user-menu"}}
    <div class="gh-nav-menu-icon" style="background-image: url(http://static.ghostchina.com/image/f/4a/cd544250b5bb82a17af6e0c63aa79.png)"></div>
    <div class="gh-nav-menu-details">
        <div class="gh-nav-menu-details-blog">{{config.blogTitle}}</div>
        <div class="gh-nav-menu-details-user">{{session.user.name}}</div>
    </div>
    <i class="icon-arrow"></i>
{{/gh-dropdown-button}}
{{#gh-dropdown tagName="div" name="user-menu" closeOnClick="true"}}
    <ul class="dropdown-menu dropdown-triangle-top js-user-menu-dropdown-menu" role="menu" style="right:-20px;left:auto;">
        <li role="presentation">{{#link-to "about" classNames="gh-nav-menu-about dropdown-item js-nav-item" role="menuitem" tabindex="-1"}}<i class="icon-shop"></i> 关于 Ghost{{/link-to}}</li>
        <li class="divider"></li>
        <li role="presentation">{{#link-to "team.user" session.user.slug classNames="dropdown-item user-menu-profile js-nav-item" role="menuitem" tabindex="-1"}}<i class="icon-user"></i> 个人资料{{/link-to}}</li>
        <li role="presentation">{{#link-to "signout" classNames="dropdown-item user-menu-signout" role="menuitem" tabindex="-1"}}<i class="icon-signout"></i> 退出{{/link-to}}</li>
    </ul>
{{/gh-dropdown}}
<section class="gh-nav-body">
    <section class="gh-nav-search">
        {{gh-search-input class="gh-nav-search-input"}}
    </section>
    <ul class="gh-nav-list gh-nav-main">
        {{!<li><i class="icon-dash"></i>Dashboard</li>}}
        <li>{{#link-to "editor.new" classNames="gh-nav-main-editor"}}<i class="icon-pen"></i>新建博文{{/link-to}}</li>
        <li>{{#link-to "posts" classNames="gh-nav-main-content"}}<i class="icon-content"></i>博文列表{{/link-to}}</li>
        {{!<li><a href="#"><i class="icon-user"></i>My Posts</a></li>}}
        <li>{{#link-to "team" classNames="gh-nav-main-users"}}<i class="icon-team"></i>用户管理{{/link-to}}</li>
        {{!<li><a href="#"><i class="icon-idea"></i>Ideas</a></li>}}
    </ul>
    {{#if (gh-user-can-admin session.user)}}
        <ul class="gh-nav-list gh-nav-settings">
            <li class="gh-nav-list-h">设置</li>
            <li>{{#link-to "settings.general" classNames="gh-nav-settings-general"}}<i class="icon-settings"></i>全局设置{{/link-to}}</li>
            {{!<li><i class="icon-design"></i>Themes</li>}}
            <li>{{#link-to "settings.navigation" classNames="gh-nav-settings-navigation"}}<i class="icon-compass"></i>导航菜单{{/link-to}}</li>
            <li>{{#link-to "settings.tags" classNames="gh-nav-settings-tags"}}<i class="icon-tag"></i>标签管理{{/link-to}}</li>
            <li>{{#link-to "settings.code-injection" classNames="gh-nav-settings-code-injection"}}<i class="icon-code"></i>插入代码{{/link-to}}</li>
            <li>{{#link-to "settings.labs" classNames="gh-nav-settings-labs"}}<i class="icon-apps"></i>实验功能{{/link-to}}</li>
            <li>
                <a class="gh-nav-settings-theme-market" href="http://mb.ghostchina.com/" target="_blank"><i class="icon-design"></i>主题市场</a>
            </li>
        </ul>
    {{/if}}
</section>
<footer class="gh-nav-footer">
    {{gh-menu-toggle desktopAction="toggleAutoNav" mobileAction="closeMobileMenu"}}
    <a class="gh-nav-footer-sitelink" href="{{config.blogUrl}}/" target="_blank">访问博客</a>
    <div class="gh-help-menu">
        {{#gh-dropdown-button dropdownName="help-menu" tagName="div"}}
            <div class="gh-help-button">
                <i class="icon-question"><span class="hidden">帮助</span></i>
            </div>
        {{/gh-dropdown-button}}
        {{#gh-dropdown tagName="div" name="help-menu" closeOnClick="true"}}
            <ul class="dropdown-menu dropdown-triangle-bottom" role="menu">
                <li role="presentation"><a class="dropdown-item help-menu-support" role="menuitem" tabindex="-1" href="http://www.ghostchina.com/" target="_blank"><i class="icon-ambulance"></i> 支持中心</a></li>
                <li role="presentation"><a class="dropdown-item help-menu-tweet" role="menuitem" tabindex="-1" href="https://twitter.com/intent/tweet?text=%40TryGhost+Hi%21+Can+you+help+me+with+&related=TryGhost" target="_blank" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="icon-twitter"></i> Tweet @TryGhost!</a></li>
                <li class="divider"></li>
                <li role="presentation"><a class="dropdown-item help-menu-how-to" role="menuitem" tabindex="-1" href="http://www.ghostchina.com/how-to-use-ghost/" target="_blank"><i class="icon-book"></i> 如何使用 Ghost</a></li>
                <li role="presentation"><a class="dropdown-item help-menu-markdown" role="menuitem" tabindex="-1" href="" {{action "openModal" "markdown"}}><i class="icon-markdown"></i> Markdown 手册</a></li>
                <li class="divider"></li>
                <li role="presentation"><a class="dropdown-item help-menu-wishlist" role="menuitem" tabindex="-1" href="http://ideas.ghost.org/" target="_blank"><i class="icon-idea"></i> 心愿列表</a></li>
            </ul>
        {{/gh-dropdown}}
    </div>{{! .help-menu }}
</footer>
<div class="gh-autonav-toggle" {{action "openAutoNav" on="mouseEnter"}}></div>
